<div class="card booking">
    <div class="card-body">
        <h5 class="card-title">{{ booking.title }}</h5>
        <div><strong>Du : </strong>{{ booking.start_date|date:'d/m/Y H:i' }}</div>
        <div><strong>Au : </strong>{{ booking.end_date|date:'d/m/Y H:i' }}</div>
        <div><strong>Réservé par : </strong>{{ booking.user.first_name }} {{ booking.user.last_name }}</div>
        <div class="mt-4">
            <form action="#" class="delete-booking">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{booking.id}}"/>
                <input type="submit" class="btn btn-danger" value="Supprimer"/>
            </form>
        </div>
    </div>
</div>