{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Ressources</h2>
        <div id="resource-list">
            {% for resource in resources %}
            {% include 'booking/resource.html' %}
            {% endfor %}
        </div>

        <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#resource-modal">
            Ajouter
        </button>
    </div>

    <div class="col-md-6">
        <h2>Réservations</h2>
        <div id="booking-list">
            {% for booking in bookings %}
            {% include 'booking/booking.html' %}
            {% endfor %}
        </div>

        <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#booking-modal">
            Ajouter
        </button>
    </div>
</div>

<!-- Resource form modal -->
<div class="modal" tabindex="-1" role="dialog" id="resource-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/resource" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Créer une ressource</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ resource_form|crispy }}
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Valider" class="btn btn-primary">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Booking form modal -->
<div class="modal" tabindex="-1" role="dialog" id="booking-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créer une réservation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/booking" method="post" class="col-md-8">
                    {% csrf_token %}
                    {{ booking_form|crispy }}
                    <input type="submit" value="Valider" class="btn btn-primary">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Valider</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

{% include 'booking/scripts.js' %}

{% endblock %}
