{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="row container-fluid justify-content-md-center">
    <div class="col-md-6">
        <h3>{% trans "Resources" %}</h3>
        <div id="resource-list">
            {% for resource in resources %}
            {% include 'booking/resource.html' %}
            {% endfor %}
        </div>

        {% if perms.admin %}
        <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#resource-modal">
            {% trans "Add" %}
        </button>
        {% endif %}
    </div>

    <div class="col-md-6">
        <h3>{% trans "Bookings" %}</h3>
        <div id="booking-list">
            {% for booking in bookings %}
            {% include 'booking/booking.html' %}
            {% endfor %}
        </div>

        <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#booking-modal">
            {% trans "Add" %}
        </button>
    </div>
</div>

<!-- Resource form modal -->
<div class="modal" tabindex="-1" role="dialog" id="resource-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/resource" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Resource" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ resource_form|crispy }}
                    <input type="hidden" name="id"/>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="{% trans 'Validate' %}" class="btn btn-primary">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Booking form modal -->
<div class="modal" tabindex="-1" role="dialog" id="booking-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/booking" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Booking" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ booking_form|crispy }}
                    <input type="hidden" name="id"/>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="{% trans 'Validate' %}" class="btn btn-primary">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                </div>

            </form>
        </div>
    </div>
</div>

{% include 'booking/scripts.js' %}

{% endblock %}
